USE [pcventas]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 8/24/2022 3:14:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Categoria] [tinyint] primary key ,
	[Nombre] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 8/24/2022 3:14:40 PM ******/
CREATE TABLE [dbo].[Articulos](
	[IdArticulo] [nvarchar](5) NOT NULL primary key ,
	[NomArticulo] [nvarchar](50) NULL,
	[PreArticulo] [real] NULL,
	[Stock] [smallint] NULL,
	[Categ] [tinyint] references Categorias(Categoria)
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 8/24/2022 3:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Idcliente] [nvarchar](5) primary key,
	[NomCliente] [nvarchar](100) NULL,
	[DirCliente] [nvarchar](50) NULL,
	[TelCliente] [nvarchar](10) NULL,
	[Email] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consulta clientes]    Script Date: 8/24/2022 3:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[Consulta9]    Script Date: 8/24/2022 3:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[IdFactura] [int] primary key,
	[Fecha] [datetime] NULL,
	[IdCliente] [nvarchar](5) references clientes(idcliente)
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles]    Script Date: 8/24/2022 3:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles](
	[IdFactura] [int] references facturas(idfactura),
	[IdArticulo] [nvarchar](5) references Articulos(idarticulo),
	[PreVenta] [real] NULL,
	[Cantidad] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 8/24/2022 3:14:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
INSERT [dbo].[Categorias] ([Categoria], [Nombre]) VALUES (1, N'Multimedias')
INSERT [dbo].[Categorias] ([Categoria], [Nombre]) VALUES (2, N'Mainboards')
INSERT [dbo].[Categorias] ([Categoria], [Nombre]) VALUES (3, N'Componentes')
GO


INSERT [dbo].[Articulos] ([IdArticulo], [NomArticulo], [PreArticulo], [Stock], [Categ]) VALUES (N'A0001', N'Case AT Minitower', 25, 50, 3)
INSERT [dbo].[Articulos] ([IdArticulo], [NomArticulo], [PreArticulo], [Stock], [Categ]) VALUES (N'A0002', N'Case ATX Minitower', 35, 40, 3)
INSERT [dbo].[Articulos] ([IdArticulo], [NomArticulo], [PreArticulo], [Stock], [Categ]) VALUES (N'A0003', N'Disk Drive 1.44 Mb', 18, 80, 3)
GO

INSERT [dbo].[Clientes] ([Idcliente], [NomCliente], [DirCliente], [TelCliente], [Email]) VALUES (N'C0001', N'MARCOS VALER', N'', N'', N'mvaler@buenaventura.')
INSERT [dbo].[Clientes] ([Idcliente], [NomCliente], [DirCliente], [TelCliente], [Email]) VALUES (N'C0002', N'ISTER', N'', N'', N'ister@telematic.edu.')
INSERT [dbo].[Clientes] ([Idcliente], [NomCliente], [DirCliente], [TelCliente], [Email]) VALUES (N'C0003', N'ALEJANDRO VALDERRAMA', N'', N'', N'aleval@cunion.upeu.e')
GO
INSERT [dbo].[Facturas] ([IdFactura], [Fecha], [IdCliente]) VALUES (10000, CAST(N'1999-10-03T00:00:00.000' AS DateTime), N'C0017')
INSERT [dbo].[Facturas] ([IdFactura], [Fecha], [IdCliente]) VALUES (10001, CAST(N'1999-10-06T00:00:00.000' AS DateTime), N'C0008')
INSERT [dbo].[Facturas] ([IdFactura], [Fecha], [IdCliente]) VALUES (10002, CAST(N'1999-10-07T00:00:00.000' AS DateTime), N'C0003')
GO

INSERT [dbo].[Detalles] ([IdFactura], [IdArticulo], [PreVenta], [Cantidad]) VALUES (10000, N'A0017', 27, 4)
INSERT [dbo].[Detalles] ([IdFactura], [IdArticulo], [PreVenta], [Cantidad]) VALUES (10001, N'A0025', 9.8, 42)
INSERT [dbo].[Detalles] ([IdFactura], [IdArticulo], [PreVenta], [Cantidad]) VALUES (10001, N'A0040', 12.8, 36)
GO
